@charset "utf-8";

/* CSS Document */


/*  Layouts to try to get away from table layouts */

.layoutPage {
    margin: 0 auto;
    width: 1000px;
    /*border: solid 1px red;*/
}

.layoutHeader {
    /*width: 100%;*/
    margin: auto;
    text-align: center;
    /*border: solid 1px green;*/
}

.layoutLeftColumn {
    float: left;
    width: 160px;
    /*border: solid 1px blue;*/
}

.layoutCenterColumn {
    float: left;
    margin: 0 10px;
    /*
	text-align: center;
	border: solid 1px yellow;
	*/
}

.layoutRightColumn {
    float: left;
    width: 190px;
    /*border: solid 1px black;*/
}

.layoutFooter {
    text-align: center;
    margin: auto;
}